@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --font-size: 16px;
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --error-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(./images/bg-intro-desktop.png) repeat var(--primary-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100vh;
}

.text-section {
  width: calc((var(--desktop-width) / 3) + 50px);
}

.heading {
  font-weight: 700;
  font-size: calc(var(--font-size) * 3);
}

.sub-heading {
  margin-top: 20px;
}

.form-section {
  padding: 20px;
  width: calc((var(--desktop-width) / 3) + 50px);
}

.trial-offer {
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  background: var(--accent-blue);
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.bold-text {
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.1);
}

.input-field {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 1.5;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input-field:focus {
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.btn-submit {
  padding: 15px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--primary-green);
  color: white;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: hsl(154, 61%, 44%);
}

.terms {
  margin-top: 5px;
  color: var(--grayish-blue);
  font-weight: 500;
  font-size: 10px;
  text-align: center;
}

.terms-bold {
  color: var(--primary-red);
  font-weight: 600;
}

small {
  visibility: hidden;
}

.small-error {
  color: var(--primary-red);
  text-align: right;
  font-style: italic;
}

.input-field.error {
  border-color: var(--error-color);
}

@media only screen and (max-device-width: 480px) {
  body {
    background: url(./images/bg-intro-mobile.png) repeat var(--primary-red);
  }
  .container {
    width: var(--mobile-width);
    flex-direction: column;
    margin-top: 50px;
  }

  .text-section {
    width: auto;
  }

  .heading {
    font-weight: 700;
    font-size: calc(var(--font-size) * 2);
    text-align: center;
  }
  .sub-heading {
    margin-top: 0;
    font-size: calc(var(--font-size) * 1);
    text-align: center;
  }

  .form-section {
    padding: 20px;
    width: var(--mobile-width);
  }
}
